* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)*/

:root {
  --vdarkblue: hsl(233, 47%, 7%);
  --darkdeblue: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --slightlywhite: hsla(0, 0%, 100%, 0.75);
  --slightlytw: hsla(0, 0%, 100%, 0.75);
}

body {
  background-color: var(--vdarkblue);
  min-height: 100vh;
}

.container {
  background-color: var(--vdarkblue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.containerWrapper {
  display: flex;
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSide {
  width: 50%;
  background-color: var(--darkdeblue);
  color: white;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  padding: 5em;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 3em;
}

.violet {
  color: var(--violet);
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.6em;
  line-height: 1.7;
  color: var(--slightlywhite);
  padding-top: 0.8em;
}

.numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
}

.rightSide {
  height: 60vh;
  background: url(./images/image-header-desktop.jpg) no-repeat center/cover;
  width: 50%;
  position: relative;
  background-color: var(--violet);
  background-blend-mode: multiply;
}

.purpleCover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--violet);
  opacity: 0.3;
}

.stats {
  flex-direction: column;
  display: flex;
  text-transform: uppercase;
  color: var(--slightlywhite);
  line-height: 1.5;
  font-size: 1em;
  padding: 3em 0 0 0;
  font-family: "Lexend Deca", sans-serif;
}

.number {
  font-size: 2em;
  color: white;
}

/*font-family: "Inter", sans-serif;
font-family: "Lexend Deca", sans-serif;*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 990px) {
  .containerWrapper {
    flex-direction: column;
    width: 100%;
  }
}
